.custom-container-cart {
    background-color: #000;
    padding: 16px;
}

.cart-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
    margin-top: 12px;
    font-size: 16px;
}
.svg {
    margin-top: 10px;
}
.cart-item {
    font-weight: bold;
    color: red;
    position: relative;
    top: -5px;
    right: -2px;
}